---
import { getCollection } from 'astro:content'
import LocalesPicker from '~/components/LocalesPicker/LocalesPicker.astro'
import Layout from '~/layouts/Layout.astro'

import logosrc from '~/assets/logo.png?url'

import { i18nFactory } from '~/i18n'
const _ = i18nFactory(Astro.currentLocale as any)

const documents = await getCollection('documents')
const privateDocuments = await getCollection('private-documents')

function getTitleFromBody(body: string | undefined): string | undefined
{
	if (!body)
	{
		return undefined
	}

	// Get text from heading 1 in markdown body
	const match = body.match(/^#\s+(.*)$/m)
	return match ? match[1] : undefined
}
---

<Layout>

	<div class="header">
		<img src={logosrc} alt="Logo" />
		<h1>
			{_({
				fr: 'Documents de l\'association Fluff Event',
				en: 'Fluff Event Association Documents',
			})}
		</h1>
	</div>

	<div class="main">

		<LocalesPicker lang={Astro.currentLocale} />

		<p>
			<span class="icon icon-[mdi--hand-wave] icon-align icon-fw"></span>
			{_({
				fr: 'Bienvenue !',
				en: 'Welcome!',
			})}
		</p>

		{documents.length > 0
			? (
				<p>
					{_({
						fr: 'Consulter les documents de l\'association :',
						en: 'See association documents:',
					})}
				</p>

				<ul>
					{documents.map((document: any) => (
						<li>
							<a href={`/document/${document.id}`}>{getTitleFromBody(document.body) || document.id}</a>
						</li>
					))}
				</ul>
			)
			: (
				<p>
					{_({
						fr: 'Aucun document disponible.',
						en: 'No documents available.',
					})}
				</p>
			)
		}

		{privateDocuments.length > 0 && (
			<p>
				{_({
					fr: 'Consulter les documents privés de l\'association :',
					en: 'See association private documents:',
				})}
			</p>

			<ul>
				{privateDocuments.map((document: any) => (
					<li>
						<a href={`/private-document/${document.id}`}>{getTitleFromBody(document.body) || document.id}</a>
					</li>
				))}
			</ul>
		)}

	</div>

</Layout>

<style lang="scss">
@reference "~/styles/tailwind.css";

:global(body) {
	@apply p-6;
}

.header, .main {
	@apply mb-8;
}

.header {
	@apply flex items-center gap-4;
}

*:last-child {
	@apply mb-0;
}

h1 {
	@apply text-2xl font-bold;
}


.header img {
	@apply max-h-12;
}

p {
	@apply mb-2;
}

ul {
	@apply list-disc list-inside;

	li {
		@apply mb-2 pl-2;
	}

	a {
		@apply text-blue-500 hover:text-blue-700 hover:underline;
	}
}
</style>
